<%= link_to 'New Book', new_book_path %>

<table>
  <caption>Books</caption>
  <tr>
    <th>Name</th>
    <th>№ shelf</th>
    <th>Genre</th>
    <th>Author</th>
    <th>Settings</th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= book.shelf %></td>
      <td><%= book.genre %></td>
      <td><%= book.author.name %></td>
      <td>
        <%= link_to 'Edit', edit_book_path(book) %>
        <%= link_to 'Delete', book_path(book), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
